<h2>Listing posts</h2>
<p><%= link_to 'New Post', new_post_path %></p>
<%= form_tag posts_path, :method => 'get' do %>
 <p>
   <%= text_field_tag :search, params[:search],class: "span2", placeholder: "Search Posts" %>
   <%= submit_tag "Search", :title => nil, :class => "btn btn-primary" %>
 </p>
<%end%>
<% @posts.each do |post| %>
    <h3><%= link_to post.title, post %></h3>
    <p><%= truncate post.text %></p>
<% end %>
<%= will_paginate %>
