<p id="notice"><%= notice %></p>
<%= link_to "<< Back", posts_path %>


<p><%= link_to "New post", new_post_path %></p>
 <p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %><br/><br/>
  <strong>Published Date: <%= @post.created_at %></strong>
</p>
<h2>Comments:--</h2>
<% @post.comments.each do |comment| %>
	<li><p><%= comment.text %></p></li>
	<p><%= time_ago_in_words comment.created_at%> ago</p>
	<p><%= link_to "Delete comment", [@post, comment], :method => :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<%= form_for [@post, @post.comments.build] do |f| %>
  <p> <%= f.text_area :text, :size => '40*20' %></p>
  <p></p><%= f.submit "Post comment" %></p>
<% end %>

<p>
<%= link_to 'Edit post', edit_post_path(@post) %>
<%= link_to 'Destroy post', @post, method: :delete, data: { confirm: 'Are you sure?' } %></p>